
header {
    padding: 20px 150px 30px 150px;
}
body {
    padding: 10px 120px 30px 120px;
    background-color: #1492db;
}

h1,
h3,
h4,
h5,
h6
 {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
}
.time-text {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.time-box {
    display: grid;
    place-items: center;
    border-radius: 10px 0px 0px 10px;
}
textarea {
	background: transparent;
	border: none;
	resize: none;
    color: #000000;
    width: 100%;
}
button {
    display: block;
    margin: auto;
} 
.save-box {
    display: grid;
    place-items: center;
    border-radius: 0px 10px 10px 0px;
}
h1:hover {
    animation: 20s multicolor;
    cursor: none;
}
@keyframes multicolor {
    0% {
        color: white;
    }
    12.5% {
        color: violet;
    }
    25% {
        color: indigo;
    }
    37.5% {
        color: blue;
    }
    50% {
        color: green;
    }
    62.5% {
        color: yellow;
    }
    75% {
        color: orange;
    }
    87.5% {
        color: red;
    }
    100% {
        color: white;
    }
}